.parents-seminar {
    background-color: #FFF9EA;
    text-align: center;
    position: relative;
    padding: 20px;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 24px;
    margin-top: 90px;
}

.hidden-image1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
}

.hidden-image2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
}

.parents-paths div {
    background-color: #ffffff;
    font-size: 25px;
    border-radius: 40.7px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    padding: 10px 15px 10px 15px;
    margin-left: 20px;
    border: 1.4px solid #00000017;
    margin-top: 40px;
    margin-bottom: 30px;
}

.parents-seminar h2 {
    font-size: 28px;
    font-family: Helvetica;
    font-weight: 300;
}

@media screen and (min-width: 768px) {
    .talk {
        width: 579px;
        height: 227px;
        object-fit: contain;
    }
}
.cta-parents {
    background-color: #FEDD8D;
    width: 295.48px;
    height: 48px;
    border-radius: 43.64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin: 40px auto 20px auto;


}

.parents-cta-btn1, .parents-cta-btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3px;
    font-weight: 500;
    outline: none;
    border: none;
    cursor: pointer;
}

.parents-cta-btn1 {
    border: none;
    outline: none;
    background: none;
    margin-left: 30px;
    color: #000000;

}

.parents-cta-btn2 {
    background-color: #FFBA0E;
    border-radius: 19.32px;
    width: 155.22px;
    height: 38.03px;
    margin-right: 5px;
}

.parents-cta-btn1-img {
    width: 18.7px;
    height: 18.7px;
}

.parents-cta-btn2-img {
    width: 15.5px;
    height: 15.5px;
}

@media screen and (min-width: 768px) {
    .cta-parents {
        width: 500px;
        height: 77px;
    }

    .parents-cta-btn2 {
        width: 249px;
        height: 61px;
        border-radius: 31px;
        margin-right: 8px;
        font-size: 20px;
    }

    .parents-cta-btn1 {
        font-size: 20px;
        margin-left: 30px;
    }

    .parents-cta-btn1-img, .parents-cta-btn2-img {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 768px) {
    .parents-seminar {
        background-color: #FFF9EA;
        text-align: center;
        padding: 20px;
        padding-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 24px;
        margin-top: 40px;
    }

    .parents-seminar h2 {
        font-size: 16px;
    }

    .parents-paths {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .parents-paths div {
        background-color: #FFE8AE;
        font-size: 16px;
        border-radius: 40.7px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        padding: 10px 15px 10px 15px;
        border: 1.4px solid #FEDD8D;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .cta-parents {
        margin-top: 20px;
    }

    .parents-cta-btn1 {
        white-space: nowrap;
        margin-left: 10px;
    }
}