  @font-face {
    font-family: helvetica;
    src: local("HelveticaNeueBlack"), url(./assets/fonts/Helvetica/HelveticaNeueBlack.otf);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    display: flex;
    font-size: helvetica;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #2929291A;
    color: black;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .logo-img {
    width: 167px;
    height: 71.29px;
  }

  .icon {
    width: 25px;
    height: 25px;
  }
  
  .nav-links {
    display: flex;
    gap: 2rem;
  }
  
  .nav-links li {
    list-style: none;
    color: black;
    cursor: pointer;
  }
  
  .nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-button p {
    font-family: helvetica;
  }
  
  .hamburger-icon {
    display: none;
    cursor: pointer;
  }
  
  .hamburger-icon svg {
    fill: white;
  }
  
  /* Mobile Styles */
  @media (max-width: 768px) {
    .nav-links {
      position: absolute;
      top: 109.95px;
      right: 0;
      background-color: #333;
      font-family: helvetica;
      color: white;
      width: 100%;
      height: 100vh;
      /* padding-top: 50px; */
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      display: none;
      z-index: 300;
    }

    .nav-links li {
      color: white;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .nav-button {
      display: none;
    }
  
    .hamburger-icon {
      display: block;
    }
  }
  