  @font-face {
    font-family: helvetica;
    src: local("HelveticaNeueBlack"), url(./assets/fonts/Helvetica/HelveticaNeueBlack.otf);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    display: flex;
    font-family: helvetica;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 18px;
    border-bottom: 1px solid #2929291A;
    color: black;
    position: relative;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .logo-img {
    width: 167px;
    height: 71.29px;
  }

  .icon {
    width: 25px;
    height: 25px;
  }
  
  .nav-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 3rem;
  }
  
  .nav-links li {
    list-style: none;
    color: black;
    cursor: pointer;
  }
  
  .nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    font-size: 18px;
  }

  .nav-button p {
    font-family: helvetica;
  }
  
  .hamburger-icon {
    display: none;
    cursor: pointer;
  }
  
  .hamburger-icon svg {
    fill: white;
  }
  
  /* Mobile Styles */
  @media (max-width: 768px) {
    .nav-menu-container {
      position: absolute;
      top: 109.95px;
      right: 0;
      background-color: rgba(138, 36, 136);
      width: 100%;
      height: calc(100vh - 109.95px);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      padding-top: 100px;
      display: none;
      z-index: 300;
    }

    .nav-links li {
      color: rgb(240, 240, 240);
    }
  
    .nav-menu-container.active {
      display: flex;
    }

    .nav-links {
      position: static;
      flex-direction: column;
      align-items: center;
      transform: none;
    }
  
    .nav-button {
      color: #FFFFFF;
      border-radius: 5px;
      margin-top: 20px;
      flex-shrink: 0;
    }
  
    .hamburger-icon {
      display: block;
    }
  }
