@font-face {
    font-family: arabic-ramadhan;
    src: local("Arabic Ramadhan"), url(../../assets/fonts/Arabic/Arabic Ramadhan.ttf);
  }

  .footer-marquee-con {
    position: relative;
  }

  .footer-marquee {
    --gap: 20px;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
  }

.footer-container {
    background-color: #FFBA0E;
    margin-top: 80px;
    height: 61px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow-x: hidden;
}

.footer-container p {
    font-family: Helvetica;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 300;
    white-space: nowrap;
}

.footer-container img {
    width: 25px;
    height: 25px;
}

.footer {
    background-color: #262626;
}

.footer-contents {
    display: flex; 
    justify-content: space-between;
    gap: 30px;
    padding: 80px;
}

.image-container img {
    width: 212px;
    height: 99.15px;
}

@media screen and (max-width:768px) {

    .footer-contents {
        flex-direction: column;
        padding-left: 20px;
        padding-top: 40px;
    }

    .image-container img {
        width: 117px;
        height: 49.94px;
        border-radius: 8px;
    }
}

.image-container p {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    font-family: Helvetica;
}

.footer-links{
    color: white;
    font-size: 20px;
    font-family: Helvetica;
    margin-top: 40px;
}

.footer-links li{
    display: flex;
    white-space: nowrap;
    gap: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

.footer-links div{
    height: 22px;
    display: block;
}

.footer-links img {
    height: 100%;
    object-fit: contain;
}

.call-to-action {
    font-family: arabic-ramadhan;
    font-size: 64px;
    cursor: pointer;
}

.call-to-action p {
    color: #FFFFFF9C;
    width: 500px;
}

.bottom-text {
    color: white;
    text-align: center;
    font-family: Helvetica;
    padding-bottom: 30px;
}

@media screen and (max-width:768px) {
    .footer-links li{
        justify-content: start;
    }

    .call-to-action p {
        color: #FFFFFF9C;
        width: 100%;
        font-size: 60px;
    }
    
    .bottom-text {
        font-size: 12px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-links img {
        width: 16px;
        height: 16px;
    }

}

.animation-enabled .footer-banner {
    animation: scroll 16s linear infinite;
  }
  
  @keyframes scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-100vw); }
  }
