@font-face {
    font-family: helvetica;
    src: local("HelveticaNeueBlack"), url(./assets/fonts/Helvetica/HelveticaNeueBlack.otf);
  }
  @font-face {
    font-family: helveticaMedium;
    src: local("HelveticaNeueMedium"), url(./assets/fonts/Helvetica/HelveticaNeueMedium.otf);
  }
  @font-face {
    font-family: helveticaRoman;
    src: local("HelveticaNeueRoman"), url(./assets/fonts/Helvetica/HelveticaNeueRoman.otf);
  }

  .banner-marquee-con {
    position: relative;
  }

  .banner-marquee {
    --gap: 20px;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
  }

.container {
    background-color: #FFBA0E;
    margin-top: 80px;
    height: 61px;
    transform: rotate(-5deg);
    position: relative;
    left: -10%;
    right: -10%;
    width: 120vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    flex-shrink: 0;
    gap: var(--gap);
    min-width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 40px;
  }
}

.banner {
    font-family: helvetica;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    white-space: nowrap;
}

.banner img {
    width: 25px;
    height: 25px;
}

.animation-enabler .banner {
  animation: scroll 16s linear infinite;
}

@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-100vw); }
}